@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 99vw;
    /* font-family: 'League Spartan', sans-serif; */
    font-family: 'Cardo', serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-maior {
    display: flex;
    /* justify-content: center; */
    /* justify-content: flex-end; */
    flex-direction: row-reverse;
    align-items: center;
    /* margin-right: 10%; */

    /* width: 60%; */
    height: 90%;
    width: 80%;
    /* margin: auto; */
    /* background-color: #2f231c; */
    background-color: #2f231c;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.box-maior .inner-box {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    height: 92%;
    width: 98%;
    background-color: #2f231c;
    border-radius: 15px;
}

.box-maior .inner-box .div_esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: flex-start; */
    /* justify-content: center; */
    align-items: center;
    height: 500px;
    width: 20%;
    border-radius: 30px;
    gap: 30px;
    color: #f2f2f2;
}

.box-maior .inner-box .div_esquerda .perfil {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* justify-content: flex-end; */
    align-items: center;
    /* gap: 8px; */
    width: 100%;
    height: 50%;
    /* margin-top: 15px; */
    /* background-color: #2f231c; */
    /* border: 1px #2f231c solid; */
    /* width: 100%; */
    /* width: 30%; */
}

.linha {
    /* display: flex;  */
    /* justify-content: center;  */
    border: 1px #f2f2f2 solid; 
    width: 80%;
}

.box-maior .inner-box .div_esquerda .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    /* justify-content: space-between; */
    list-style: none;
    width: 100%;
    /* height: 100%; */
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

/* .div_saida {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
} */

.div_direita {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    justify-content: center;
    align-items: center;
    height: 525px;
    width: 80%;
    margin-right: 8px;
    border-radius: 30px;
    background-color: beige;
    gap: 15px;
    /* gap: 60px; */
    /* color: beige; */
}

.imagem-pet {
    /* margin-top: 15px; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80%;
    gap: 25px;
    background-color: #463931;
    border-radius: 20px;
}

.cadastro {
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: pink;
}

.formulario {
    display: flex;
    background-color: burlywood;
    width: 70%;
    height: 100%;

}

.resultado {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

