@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

*{
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cardo', serif;
}

.header {
  background-color: #463931;
  /* background-color: #f2f2f2; */
  height: 70px;
  width: 100%;
  position: fixed;
  /* color: #2f231c; */
  color: #f2f2f2;
}

.container {
  display: flex;
  /* justify-content: space-between; */
  width: 70%;
  margin: auto;
  /* margin-left: 10%;
    margin-right: 10%; */
}

.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
  /* color: #f2f2f2; */
}

a {
  text-decoration: none;
  color: inherit;
}

.titulo {
  width: fit-content;
  font-weight: 500;
}


.banner {
  background-image: url('../assets/home/hp.jpg');
  /* background-color: rgba(0, 0, 0, 0.5);    */
  background-size: cover;
  height: 595px;

}

.banner .container-banner {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin-left: 10%;
  align-items: center;
  height: 100%;
  width: 80%;
}


.banner .container-banner p {
  font-size: 36px;
  color: #f2f2f2;
  /* display: flex; */
  /* font-family: 'Playfair Display', serif; */
  /* width: 280px; */
  font-family: 'Cardo', serif;
}

/* .banner .container span {
    font-weight: 800;
  } */


.sobre-hp {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-color: #f2f2f2;
}

.sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 90%;
  background-color: #2f231c;
  /* border-radius: 15px; */
  color: #f2f2f2;
  /* border: 2px #2f231c solid; */
  border-radius: 15px;
}

.sobre p {
  width: 90%;
}

.onu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 90%;
  /* background-color: #2f231c; */
}

/* .ods {
  display: flex; */
/* flex-direction: column; */
/* align-items: center;
} */

.circulo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  /* margin-bottom: 10px; */
}

.circulo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descricao{
  color: #2f231c;
  font-weight: bold;
}

.ods {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* flex-direction: column;  */
  height: 70%;
  width: 70%;
  /* width: 100%; */
  gap: 20px;
}

/* .ods img{
  width: 20%;
  border-radius: 20px;
} */



/* .cima {
    display: flex; */
/* justify-content: space-around; */
/* gap: 20px;
    width: 90%;
    height: 80%; */
/* background-color: #463931; */
/* }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 70%;
    background-color: #2f231c; */
/* background-color: #463931; */
/* }

  #btn-filme {
    background-color: #f2f2f2;
    /* color: #; */
/* border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    height: 10%;  */
/* font-family: 'League Spartan', sans-serif; */
/* font-family: 'Cardo', serif;
  } */

.filmes {
  display: flex;
  width: 100%;
  height: 80vh;
  background-color: #f2f2f2;
}

.avaliacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: center; */
  justify-content: center;
  /* background-color: red; */
  /* gap: 30px; */
  width: 50%;
  height: 90%;
  border-radius: 15px;
}

.catalogo {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 90%;
  /* background-color: #463931; */
  background-color: #463931;
  color: #f2f2f2;
  border-radius: 15px;
}


#btn-avaliar {
  background-color: #2f231c;
  color: #f2f2f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  height: 10%;
  /* font-family: 'League Spartan', sans-serif;  */
  font-family: 'Cardo', serif;
}

.carrossel2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 80%; */
  background-color: #f2f2f2;
}

.chapeu-filmes {
  /* background-image: url(/site/src/rony-chapeu.jpg);
    background-size: cover; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
    /* justify-content: space-around; */
  width: 100%;
  height: 80vh;
  background-color: #f2f2f2;
  border-radius: 15px;
  /* background-color: #463931; */
}

.chapeu-seletor {
  display: flex;
  background-color: #f2f2f2;
  /* height: 100%; */
}

.casas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #2f231c;
  border-radius: 15px;
  color: #f2f2f2;
}

.carrossel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chapeu-quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  /* border-radius: 10px; */
  /* background-color: #2f231c; */
  background-color: #f2f2f2;
}

#btn-chapeu {
  background-color: #2f231c;
  color: #f2f2f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  height: 10%;
  /* font-family: 'League Spartan', sans-serif; */
  font-family: 'Cardo', serif;
}

/* .filmes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%; 
    height: 100%;
    background-color: #2f231c;
    color: #f2f2f2;
  }

  #btn-avaliar {
    background-color: #f2f2f2;
    color: #2f231c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    height: 10%;
    /* font-family: 'League Spartan', sans-serif; */
/* font-family: 'Cardo', serif;
  } */

.sobre-mim {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-color: #f2f2f2;
}

.fotos {
  display: flex;
  width: 50%;
  height: 100%;
}

.carrossel3 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 80%; */
  background-color: #f2f2f2;
}

.texto {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 90%;
  background-color: #463931;
  border-radius: 15px;
  color: #f2f2f2;
  /* padding: 5px; */
}

.texto p {
  width: 90%;
  /* height: 100%; */
}

.fotos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90%;
    /* background-color: #2f231c; */
    border-radius: 15px;
    /* color: #f2f2f2; */
}

footer {
  /* background-color: #463931; */
  background-color: #2f231c;
  /* height: 90px; */
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-itens {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

#redes_sociais {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#redes_sociais img {
  width: 25px;
  margin-top: 17px;
  padding: 20px;
}