@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 99vw;
    font-family: 'League Spartan', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-maior {
    display: flex;
    justify-content: center;
    align-items: center;

    /* width: 60%; */
    height: 90%;
    width: 80%;
    /* margin: auto; */
    /* background-color: #2f231c; */
    background-color: #463931;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.box-maior .inner-box {
    display: flex;

    align-items: center;
    height: 92%;
    width: 95%;
    background-color: #463931;
    border-radius: 15px;
}

.box-maior .inner-box .formularios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 60%;
    background-color: beige;
    border-radius: 5px;
    gap: 40px;
}

.box-maior .inner-box .formularios .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 40px;
}


.box-maior .inner-box .formularios .cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100%; */
    gap: 20px;
    flex: 1;
}

.carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    border-radius: 5px;
    background-color: #463931;
}

#formulario_cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    gap: 10px;
}

#formulario_login {
    display: flex;
    flex-direction: column;
    height: 40%;
    /* justify-content: center;
    align-items: center;
    height: 100%; */
    /* width: 50%; */
    /* margin-top: 10px; */
    gap: 20px;
    /* padding: 15px; */
}

.box-maior .inner-box .formularios .login-titulo {
    height: 10%;
}

.box-maior .inner-box .formularios .cadastro-titulo {
    height: 10%;
}

input {
    /* background-color: #64544a; */
    /* background-color: #2f231c; */
    border: none;
    border-radius: 5px;
    color: beige;
    height: 25px;
    /* padding: 5px; */
    font-family: 'League Spartan', sans-serif;
}

#btn-form {
    background-color: #2f231c;
    color: beige;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    height: 15%;
    font-family: 'League Spartan', sans-serif;
}

#btn-mudar {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

/* validação */
.span-required {
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: red;
    display: none;
}