/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 99vw;
    /* font-family: 'League Spartan', sans-serif; */
    font-family: 'Cardo', serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-maior {
    display: flex;
    justify-content: center;
    align-items: center;

    /* width: 60%; */
    height: 90%;
    width: 80%;
    /* margin: auto; */
    /* background-color: #2f231c; */
    background-color: #463931;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.box-maior .inner-box {
    display: flex;

    align-items: center;
    height: 92%;
    width: 95%;
    background-color: #463931;
    border-radius: 15px;
}

.box-maior .inner-box .div_esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 60%;
    background-color: beige;
    border-radius: 5px;
    gap: 40px;
}

button {
    background-color: #2f231c;
    color: beige;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 75px;
    height:35px;;
    /* font-family: 'League Spartan', sans-serif; */
    font-family: 'Cardo', serif;
}

input {
    font-family: 'Cardo', serif;
}

.div_direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    border-radius: 5px;
    background-color: #463931;
    color: beige;
}
